/* color 
#f8f5ed
#90a28a
#aab28b
#7c9d83
#2f7634
*/
/* mobile */
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: #f8f5ed;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    height: auto;
    background: #90a28a;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.nav-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
}



ul{
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    display: none;
}

ul li{
    list-style-type: none;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    text-align: center;
    border-bottom-color: #aab28b;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 5px 50px;
}

ul li a{
    text-decoration: none;
    color: #333333;
}



/* ทำให้เวลา cursor ชี้แล้วเป็นจางๆ */
ul li:hover{
    opacity: 0.5;
}

.active{
    display: flex;
}

.row{
    margin: 0;
}

img{
    padding: 0;
}

/* destop */
@media screen and (min-width: 800px){
    .navbar {
        height: 80px;
        flex-direction: row;
        background: #90a28a;
    }

    ul{
        display: flex;
        justify-content: flex-end;
        width: 80%;
        flex-direction: row;
    }
    ul li{
        display: inline-block;
        margin: 0 70px 0 0;
        text-align: left;
        border-bottom-style: none;
        padding: 0;
    }
    .nav-toggle{
        display: none;
    }
    h1{
        margin: 0;
    }
    
}